In [2]:
import pandas as pd 
import duckdb as db
import configs as cf

#chamando a função do módulo configs.py que mapeia as pastas no ambiente
cf.mapeia_pastas()

In [3]:
# Criando a conexão com o banco de dados
con = db.connect("../database/db_distribuicao_profissoes.db")

In [4]:
# Função que recebe o nome de uma query e retorna o conteúdo do arquivo .sql correspondente
def ler_query(query_name):
    # Abre o arquivo .sql com o nome especificado em 'query_name' na pasta 'database'
    with open(f'../database/{query_name}.sql', "r", encoding="utf-8") as file:
        sql_text = file.read() # Lê o conteúdo do arquivo
        return sql_text  # Retorna o conteúdo do arquivo (a query SQL)

In [5]:
profissoes = ler_query("ETL_tabelas")

In [6]:
con.execute(profissoes)

In [7]:
estados = con.execute("SELECT * FROM tbl_estados_brasil").df()
estados

Empty DataFrame
Columns: [id, uf, nome_estado]
Index: []

In [8]:
advogados = con.execute("SELECT * FROM tbl_advogados_brasil_2024").df()
advogados

Empty DataFrame
Columns: [estado, feminino, masculino]
Index: []

In [9]:
contadores = con.execute("SELECT * FROM tbl_contadores_brasil_2024").df()
contadores

Empty DataFrame
Columns: [estado, feminino, masculino]
Index: []

In [10]:
engenheiros = con.execute("SELECT * FROM tbl_engenheiros_brasil_2024").df()
engenheiros

Empty DataFrame
Columns: [estado, feminino, masculino]
Index: []

In [11]:
psicologos = con.execute("SELECT * FROM tbl_psicologos_brasil_2024").df()
psicologos

Empty DataFrame
Columns: [estado, feminino, masculino]
Index: []