In [1]:
import pandas as pd 
import duckdb as db
import configs as cf

#chamando a função do módulo configs.py que mapeia as pastas no ambiente
cf.mapeia_pastas()

In [2]:
# Criando a conexão com o banco de dados
con = db.connect("../database/db_distribuicao_profissoes.db")

In [3]:
# Função que recebe o nome de uma query e retorna o conteúdo do arquivo .sql correspondente
def ler_query(query_name):
    # Abre o arquivo .sql com o nome especificado em 'query_name' na pasta 'database'
    with open(f'../database/{query_name}.sql', "r", encoding="utf-8") as file:
        sql_text = file.read() # Lê o conteúdo do arquivo
        return sql_text  # Retorna o conteúdo do arquivo (a query SQL)

In [14]:
con.execute("SHOW TABLES").df()

                 name
0  tbl_estados_brasil

In [12]:
estados = con.execute("SELECT * FROM tbl_estados_brasil").df()
estados

Empty DataFrame
Columns: [id, uf, nome_estado]
Index: []